<a href="https://colab.research.google.com/github/won195/TIL/blob/master/lambda%ED%95%A8%EC%88%98%EC%97%90_index_%EC%A0%95%EB%B3%B4_%EC%82%AC%EC%9A%A9%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.DataFrame([[8, 8, 2, 1, 0, 0], 
                  [7, 5, 9, 5, 7, 3], 
                  [3, 8, 1, 6, 3, 4], 
                  [7, 6, 8, 6, 4, 6], 
                  [1, 3, 0, 9, 2, 7], 
                  [3, 0, 2, 8, 2, 7]], index = range(1,7))
df.columns = ['1일차', '2일차', '3일차', '4일차', '5일차', '6일차']
df

   1일차  2일차  3일차  4일차  5일차  6일차
1    8    8    2    1    0    0
2    7    5    9    5    7    3
3    3    8    1    6    3    4
4    7    6    8    6    4    6
5    1    3    0    9    2    7
6    3    0    2    8    2    7

In [6]:
df['당첨'] = df.apply(lambda x: x[str(x.name) + '일차'],axis=1)
df

   1일차  2일차  3일차  4일차  5일차  6일차  당첨
1    8    8    2    1    0    0   8
2    7    5    9    5    7    3   5
3    3    8    1    6    3    4   1
4    7    6    8    6    4    6   6
5    1    3    0    9    2    7   2
6    3    0    2    8    2    7   7

In [8]:
df.apply(lambda x: str(x.name),axis=1)

1    1
2    2
3    3
4    4
5    5
6    6
dtype: object