<a href="https://colab.research.google.com/github/won195/TIL/blob/master/value_counts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
a1 = ["송중기", "김나연", "박보검", "권보아", "이효리", "김범수"]
b1 = ["별다방", "콩다방", "별다방", "별다방", "별다방", "콩다방"]
c1 = ["카페라떼", "아이스티", "카페라떼", "카페라떼", "아이스티", "카페라떼"]
df1 = pd.DataFrame([a1, b1,c1], index=["이름", "업체", "제품"]).T
df2 = pd.read_csv("https://raw.githubusercontent.com/"
                  "panda-kim/pandas/main/value_counts_01.csv")
df1

    이름   업체    제품
0  송중기  별다방  카페라떼
1  김나연  콩다방  아이스티
2  박보검  별다방  카페라떼
3  권보아  별다방  카페라떼
4  이효리  별다방  아이스티
5  김범수  콩다방  카페라떼

In [5]:
df1.value_counts(['업체','제품'], ascending=True)

업체   제품
별다방  아이스티    1
콩다방  아이스티    1
     카페라떼    1
별다방  카페라떼    3
dtype: int64

In [7]:
df1.value_counts(['업체','제품'], normalize=True)

업체   제품
별다방  카페라떼    0.500000
     아이스티    0.166667
콩다방  아이스티    0.166667
     카페라떼    0.166667
dtype: float64

In [10]:
df2.value_counts('선택').iloc[:3].index

Index(['생물', '화학', '지학'], dtype='object', name='선택')

In [12]:
df2['선택'].isin(df2.value_counts('선택').iloc[:3].index)

0       True
1       True
2       True
3       True
4       True
       ...
369     True
370    False
371     True
372     True
373     True
Name: 선택, Length: 374, dtype: bool

In [13]:
df2.loc[df2['선택'].isin(df2.value_counts('선택').iloc[:3].index)]

      이름  반  선택  점수
0    강지환  1  지학  99
1    고동현  9  지학  99
2    김도윤  4  화학  99
3    김사권  8  지학  99
4    김서원  2  지학  99
..   ... ..  ..  ..
368  박상욱  4  화학  60
369  박성웅  4  지학  60
371  박재광  9  지학  60
372  박철현  2  지학  60
373  변요한  7  화학  60

[291 rows x 4 columns]