<a href="https://colab.research.google.com/github/won195/TIL/blob/master/%EB%A7%88%ED%8F%AC%EA%B5%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

In [40]:
df1 = pd.read_csv('/content/drive/MyDrive/상권분석/(상권-상권변화지표)_주소_마포구.csv')
df2 = pd.read_csv('/content/drive/MyDrive/상권분석/(상권-상주인구)_주소_마포구.csv')
df3 = pd.read_csv('/content/drive/MyDrive/상권분석/(상권-생활인구)_주소_마포구.csv')
df4 = pd.read_csv('/content/drive/MyDrive/상권분석/(상권-직장인구)_주소_마포구.csv')
df5 = pd.read_csv('/content/drive/MyDrive/상권분석/(상권-추정매출)_주소_마포구.csv')
df6 = pd.read_csv('/content/drive/MyDrive/상권분석/상권영역_주소_마포구.csv')

# 상권변화 지표

In [56]:
df1.head()

,Unnamed: 0,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,상권_변화_지표,상권_변화_지표_명,운영_영업_개월_평균,폐업_영업_개월_평균,서울_운영_영업_개월_평균,서울_폐업_영업_개월_평균,시군구명,읍면동명,동리명
0,132,2022,4,R,전통시장,2130198,아현시장,HH,정체,125,66,123,56,마포구,아현동,아현동
1,133,2022,4,R,전통시장,2130197,마포시장,HH,정체,170,61,123,56,마포구,아현동,아현동
2,134,2022,4,R,전통시장,2130196,공덕시장,HH,정체,163,62,123,56,마포구,아현동,아현동
3,135,2022,4,R,전통시장,2130195,도화동 상점가,LH,상권확장,115,59,123,56,마포구,도화동,도화동
4,136,2022,4,R,전통시장,2130194,용강동 상점가,HH,정체,128,58,123,56,마포구,용강동,도화동

In [55]:
df1

,Unnamed: 0,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,상권_변화_지표,상권_변화_지표_명,운영_영업_개월_평균,폐업_영업_개월_평균,서울_운영_영업_개월_평균,서울_폐업_영업_개월_평균,시군구명,읍면동명,동리명
0,132,2022,4,R,전통시장,2130198,아현시장,HH,정체,125,66,123,56,마포구,아현동,아현동
1,133,2022,4,R,전통시장,2130197,마포시장,HH,정체,170,61,123,56,마포구,아현동,아현동
2,134,2022,4,R,전통시장,2130196,공덕시장,HH,정체,163,62,123,56,마포구,아현동,아현동
3,135,2022,4,R,전통시장,2130195,도화동 상점가,LH,상권확장,115,59,123,56,마포구,도화동,도화동
4,136,2022,4,R,전통시장,2130194,용강동 상점가,HH,정체,128,58,123,56,마포구,용강동,도화동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1843,39476,2017,1,A,골목상권,2110544,망리단길,LL,다이나믹,81,45,98,51,마포구,망원제1동,망원동
1844,39477,2017,1,A,골목상권,2110543,중암중학교,LH,상권확장,91,64,98,51,마포구,성산제2동,성산동
1845,39478,2017,1,A,골목상권,2110542,마포구청역 7번,LL,다이나믹,83,46,98,51,마포구,망원제2동,망원동
1846,39479,2017,1,A,골목상권,2110541,동교초등학교,LL,다이나믹,87,47,98,51,마포구,망원제2동,망원동
1847,39480,2017,1,A,골목상권,2110540,망원나들목체육관,HL,상권축소,98,46,98,51,마포구,망원제1동,망원동

In [14]:
df1['기준_년_코드'].unique()

array([2022, 2021, 2020, 2019, 2018, 2017])

In [26]:
df1_2022 = df1[df1['기준_년_코드']==2022]
df1_2021 = df1[df1['기준_년_코드']==2021]
df1_2020 = df1[df1['기준_년_코드']==2020]
df1_2019 = df1[df1['기준_년_코드']==2019]
df1_2018 = df1[df1['기준_년_코드']==2018]
df1_2017 = df1[df1['기준_년_코드']==2017]

In [ ]:
df1_2022.pd.to_csv('/content/drive/MyDrive/상권분석/(상권-상권변화지표)_주소_마포구_2022.csv')
df1_2021.pd.to_csv('/content/drive/MyDrive/상권분석/(상권-상권변화지표)_주소_마포구_2021.csv')
df1_2020.pd.to_csv('/content/drive/MyDrive/상권분석/(상권-상권변화지표)_주소_마포구_2020.csv')
df1_2019.pd.to_csv('/content/drive/MyDrive/상권분석/(상권-상권변화지표)_주소_마포구_2019.csv')
df1_2018.pd.to_csv('/content/drive/MyDrive/상권분석/(상권-상권변화지표)_주소_마포구_2018.csv')
df1_2017.pd.to_csv('/content/drive/MyDrive/상권분석/(상권-상권변화지표)_주소_마포구_2017.csv')

In [53]:
df1_2022

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,상권_변화_지표,상권_변화_지표_명,운영_영업_개월_평균,폐업_영업_개월_평균,서울_운영_영업_개월_평균,서울_폐업_영업_개월_평균,시군구명,읍면동명,동리명
0,2022,4,R,전통시장,2130198,아현시장,HH,정체,125,66,123,56,마포구,아현동,아현동
1,2022,4,R,전통시장,2130197,마포시장,HH,정체,170,61,123,56,마포구,아현동,아현동
2,2022,4,R,전통시장,2130196,공덕시장,HH,정체,163,62,123,56,마포구,아현동,아현동
3,2022,4,R,전통시장,2130195,도화동 상점가,LH,상권확장,115,59,123,56,마포구,도화동,도화동
4,2022,4,R,전통시장,2130194,용강동 상점가,HH,정체,128,58,123,56,마포구,용강동,도화동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,2022,1,A,골목상권,2110544,망리단길,LL,다이나믹,82,48,119,55,마포구,망원제1동,망원동
304,2022,1,A,골목상권,2110543,중암중학교,HH,정체,122,59,119,55,마포구,성산제2동,성산동
305,2022,1,A,골목상권,2110542,마포구청역 7번,LL,다이나믹,109,49,119,55,마포구,망원제2동,망원동
306,2022,1,A,골목상권,2110541,동교초등학교,LL,다이나믹,99,50,119,55,마포구,망원제2동,망원동
307,2022,1,A,골목상권,2110540,망원나들목체육관,LL,다이나믹,109,52,119,55,마포구,망원제1동,망원동

# 상주인구

In [6]:
df2.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,총 상주인구 수,남성 상주인구 수,여성 상주인구 수,연령대 10 상주인구 수,연령대 20 상주인구 수,...,여성연령대 50 상주인구 수,여성연령대 60 이상 상주인구 수,총 가구 수,아파트 가구 수,비 아파트 가구 수,상권_코드_명,시군구명,행정동_코드,읍면동명,동리명
0,2022,4,R,전통시장,2130198,675,320,355,58,111,...,45,143,404,0,404,아현시장,마포구,11440555,아현동,아현동
1,2022,3,R,전통시장,2130198,675,320,355,58,111,...,45,143,404,0,404,아현시장,마포구,11440555,아현동,아현동
2,2022,2,R,전통시장,2130198,675,320,355,58,111,...,45,143,404,0,404,아현시장,마포구,11440555,아현동,아현동
3,2022,1,R,전통시장,2130198,675,320,355,58,111,...,45,143,404,0,404,아현시장,마포구,11440555,아현동,아현동
4,2021,4,R,전통시장,2130198,675,320,355,58,111,...,45,143,404,0,404,아현시장,마포구,11440555,아현동,아현동

In [32]:
df2['기준_년_코드'].unique()

array([2022, 2021, 2020, 2019, 2018, 2017])

In [33]:
df2_2022 = df2[df2['기준_년_코드']==2022]
df2_2021 = df2[df2['기준_년_코드']==2021]
df2_2020 = df2[df2['기준_년_코드']==2020]
df2_2019 = df2[df2['기준_년_코드']==2019]
df2_2018 = df2[df2['기준_년_코드']==2018]
df2_2017 = df2[df2['기준_년_코드']==2017]

In [ ]:
df2_2022.pd.to_csv('/content/drive/MyDrive/상권분석/(상권-상주인구)_주소_마포구_2022.csv')
df2_2021.pd.to_csv('/content/drive/MyDrive/상권분석/(상권-상주인구)_주소_마포구_2021.csv')
df2_2020.pd.to_csv('/content/drive/MyDrive/상권분석/(상권-상주인구)_주소_마포구_2020.csv')
df2_2019.pd.to_csv('/content/drive/MyDrive/상권분석/(상권-상주인구)_주소_마포구_2019.csv')
df2_2018.pd.to_csv('/content/drive/MyDrive/상권분석/(상권-상주인구)_주소_마포구_2018.csv')
df2_2017.pd.to_csv('/content/drive/MyDrive/상권분석/(상권-상주인구)_주소_마포구_2017.csv')

# 생활인구

In [41]:
df3.head()

,기준 년코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_생활인구_수,남성_생활인구_수,여성_생활인구_수,연령대_10_생활인구_수,...,여성연령대_60_이상_일요일시간대_1_생활인구_수,여성연령대_60_이상_일요일시간대_2_생활인구_수,여성연령대_60_이상_일요일시간대_3_생활인구_수,여성연령대_60_이상_일요일시간대_4_생활인구_수,여성연령대_60_이상_일요일시간대_5_생활인구_수,여성연령대_60_이상_일요일시간대_6_생활인구_수,시군구명,행정동_코드,읍면동명,동리명
0,2022,4,R,전통시장,2130198,아현시장,262986,118045,144942,53038,...,1014,875,563,542,744,551,마포구,11440555,아현동,아현동
1,2022,3,R,전통시장,2130198,아현시장,256178,114962,141215,51437,...,1047,897,543,524,694,518,마포구,11440555,아현동,아현동
2,2022,2,R,전통시장,2130198,아현시장,270367,120885,149482,58928,...,1155,987,578,538,724,557,마포구,11440555,아현동,아현동
3,2022,1,R,전통시장,2130198,아현시장,251710,111451,140259,44070,...,1151,982,567,583,752,547,마포구,11440555,아현동,아현동
4,2021,4,R,전통시장,2130198,아현시장,254973,113408,141566,46222,...,1094,941,552,553,730,542,마포구,11440555,아현동,아현동

In [45]:
df3['기준_년_코드'].unique()

array([2022, 2021, 2020, 2019, 2018, 2017])

In [46]:
df3_2022 = df3[df3['기준_년_코드']==2022]
df3_2021 = df3[df3['기준_년_코드']==2021]
df3_2020 = df3[df3['기준_년_코드']==2020]
df3_2019 = df3[df3['기준_년_코드']==2019]
df3_2018 = df3[df3['기준_년_코드']==2018]
df3_2017 = df3[df3['기준_년_코드']==2017]

In [ ]:
df3 = pd.read_csv('/content/drive/MyDrive/상권분석/(상권-생활인구)_주소_마포구.csv')

# 직장인구

In [8]:
df4.head()

,기준_년월_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_직장_인구_수,남성_직장_인구_수,여성_직장_인구_수,연령대_10_직장_인구_수,...,여성연령대_10_직장_인구_수,여성연령대_20_직장_인구_수,여성연령대_30_직장_인구_수,여성연령대_40_직장_인구_수,여성연령대_50_직장_인구_수,여성연령대_60_이상_직장_인구_수,시군구명,행정동_코드,읍면동명,동리명
0,2022,4,R,전통시장,2130198,아현시장,203,45,158,1,...,1,43,79,26,6,3,마포구,11440555,아현동,아현동
1,2022,3,R,전통시장,2130198,아현시장,203,45,158,1,...,1,43,79,26,6,3,마포구,11440555,아현동,아현동
2,2022,2,R,전통시장,2130198,아현시장,203,45,158,1,...,1,43,79,26,6,3,마포구,11440555,아현동,아현동
3,2022,1,R,전통시장,2130198,아현시장,203,45,158,1,...,1,43,79,26,6,3,마포구,11440555,아현동,아현동
4,2021,4,R,전통시장,2130198,아현시장,203,45,158,1,...,1,43,79,26,6,3,마포구,11440555,아현동,아현동

In [49]:
df4 = df4.rename(columns={'기준_년월_코드': '기준_년_코드'})

In [48]:
df4_2022 = df4[df4['기준_년_코드']==2022]
df4_2021 = df4[df4['기준_년_코드']==2021]
df4_2020 = df4[df4['기준_년_코드']==2020]
df4_2019 = df4[df4['기준_년_코드']==2019]
df4_2018 = df4[df4['기준_년_코드']==2018]
df4_2017 = df4[df4['기준_년_코드']==2017]

array([2022, 2021, 2020, 2019, 2018, 2017])

# 추정매출

In [9]:
df5.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수,시군구명,행정동_코드,읍면동명,동리명
0,2022,4,R,전통시장,2130198,아현시장,CS300035,인테리어,41251860,1446,...,17,88,89,369,865,3,마포구,11440555,아현동,아현동
1,2022,4,R,전통시장,2130198,아현시장,CS300028,화초,16605136,1192,...,94,219,94,283,439,*,마포구,11440555,아현동,아현동
2,2022,4,R,전통시장,2130198,아현시장,CS300027,섬유제품,3186175,368,...,0,0,0,123,123,4,마포구,11440555,아현동,아현동
3,2022,4,R,전통시장,2130198,아현시장,CS300022,화장품,413292565,2401,...,49,122,533,994,703,13,마포구,11440555,아현동,아현동
4,2022,4,R,전통시장,2130198,아현시장,CS300018,의약품,71681759,5848,...,546,1127,1419,1207,1497,3,마포구,11440555,아현동,아현동

In [51]:
df5['기준_년_코드']

array([2022])

In [ ]:
df5_2022 = df5[df5['기준_년_코드']==2022]
df5_2021 = df5[df5['기준_년_코드']==2021]
df5_2020 = df5[df5['기준_년_코드']==2020]
df5_2019 = df5[df5['기준_년_코드']==2019]
df5_2018 = df5[df5['기준_년_코드']==2018]
df5_2017 = df5[df5['기준_년_코드']==2017]

# 상권영역

In [10]:
df6.head()

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보,lat,long,시도명,시군구명,읍면동명,법정동코드,동리명
0,202112,A,골목상권,2110573,신촌역 6번,194606,450433,11440,11440600,NaN,126.938956,37.553404,서울특별시,마포구,대흥동,1.144011e+09,대흥동
1,202112,A,골목상권,2110576,대흥역 3번,195013,449632,11440,11440600,NaN,126.943567,37.546189,서울특별시,마포구,대흥동,1.144011e+09,대흥동
2,202112,A,골목상권,2110565,홍익대,193645,450375,11440,11440655,NaN,126.928081,37.552875,서울특별시,마포구,서강동,1.144011e+09,창전동
3,202112,A,골목상권,2110585,마포경찰서,195980,450293,11440,11440555,NaN,126.954506,37.552149,서울특별시,마포구,아현동,1.144010e+09,아현동
4,202112,A,골목상권,2110545,마포구청역 1번,191583,451769,11440,11440730,NaN,126.904729,37.565418,서울특별시,마포구,성산제2동,1.144012e+09,성산동

In [52]:
df6['기준_년월_코드'].unique()

array([202112])