<a href="https://colab.research.google.com/github/won195/TIL/blob/master/%EB%A7%A4%EC%B6%A9_%EC%A3%BC%EC%A4%91_%EC%A3%BC%EB%A7%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [4]:
df1 = pd.read_csv('/content/drive/MyDrive/상권분석/추정매출_adm.csv')
df1

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,연령대_60_이상_매출_건수,점포수,행정동_코드,시군구명,읍면동명,lon,lat,adm_cd,adm_cd2,adm_cd8
0,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS300043,전자상거래업,4770649,1016,...,5,6,11680580,강남구,삼성1동,127.060059,37.511003,1123058.0,1.168058e+09,11230580.0
1,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS300032,가전제품,1364810577,4605,...,156,8,11680580,강남구,삼성1동,127.060059,37.511003,1123058.0,1.168058e+09,11230580.0
2,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS300031,가구,8512320761,3912,...,2028,6,11680580,강남구,삼성1동,127.060059,37.511003,1123058.0,1.168058e+09,11230580.0
3,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS300028,화초,658389405,9080,...,1183,5,11680580,강남구,삼성1동,127.060059,37.511003,1123058.0,1.168058e+09,11230580.0
4,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS300026,완구,383996294,3093,...,0,6,11680580,강남구,삼성1동,127.060059,37.511003,1123058.0,1.168058e+09,11230580.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735045,2018,4,R,전통시장,2130026,소공지하도상가,CS300011,일반의류,195324201,1297,...,350,0,11140520,중구,소공동,126.979592,37.564401,1102052.0,1.114052e+09,11020520.0
735046,2018,4,R,전통시장,2130026,소공지하도상가,CS300015,가방,17990019,301,...,129,0,11140520,중구,소공동,126.979592,37.564401,1102052.0,1.114052e+09,11020520.0
735047,2018,4,R,전통시장,2130026,소공지하도상가,CS300016,안경,2455081,45,...,11,0,11140520,중구,소공동,126.979592,37.564401,1102052.0,1.114052e+09,11020520.0
735048,2018,4,R,전통시장,2130026,소공지하도상가,CS300017,시계및귀금속,62285413,547,...,329,0,11140520,중구,소공동,126.979592,37.564401,1102052.0,1.114052e+09,11020520.0
735049,2018,4,R,전통시장,2130026,소공지하도상가,CS300036,조명용품,13511910,341,...,114,0,11140520,중구,소공동,126.979592,37.564401,1102052.0,1.114052e+09,11020520.0

In [6]:
df1 = df1[df1['서비스_업종_코드_명'].isin(['치킨전문점', '양식음식점', '일식음식점', '패스트푸드점', '커피-음료', '호프-간이주점', '한식음식점', '제과점', '중식음식점', '분식전문점'])]

In [8]:
df1 = df1[df1['기준_분기_코드']==4]

In [10]:
df1 = df1[df1['기준_년_코드']==2022]

In [11]:
df1

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,연령대_60_이상_매출_건수,점포수,행정동_코드,시군구명,읍면동명,lon,lat,adm_cd,adm_cd2,adm_cd8
25,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS100010,커피-음료,4085317793,475251,...,18259,52,11680580,강남구,삼성1동,127.060059,37.511003,1123058.0,1.168058e+09,11230580.0
26,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS100008,분식전문점,13829363887,313683,...,14042,30,11680580,강남구,삼성1동,127.060059,37.511003,1123058.0,1.168058e+09,11230580.0
27,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS100006,패스트푸드점,1842714083,152432,...,7060,14,11680580,강남구,삼성1동,127.060059,37.511003,1123058.0,1.168058e+09,11230580.0
28,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS100005,제과점,3275467837,268493,...,12209,16,11680580,강남구,삼성1동,127.060059,37.511003,1123058.0,1.168058e+09,11230580.0
29,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS100004,양식음식점,3259990012,79490,...,2921,36,11680580,강남구,삼성1동,127.060059,37.511003,1123058.0,1.168058e+09,11230580.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134385,2022,4,A,골목상권,2110002,독립문역 1번,CS100001,한식음식점,599061817,21167,...,6308,8,11110570,종로구,무악동,126.957209,37.575540,1101057.0,1.111057e+09,11010570.0
134453,2022,4,A,골목상권,2110001,이북5도청사,CS100010,커피-음료,30069421,2703,...,531,2,11110560,종로구,평창동,126.956884,37.609345,1101056.0,1.111056e+09,11010560.0
134454,2022,4,A,골목상권,2110001,이북5도청사,CS100009,호프-간이주점,5660261,177,...,45,2,11110560,종로구,평창동,126.956884,37.609345,1101056.0,1.111056e+09,11010560.0
134455,2022,4,A,골목상권,2110001,이북5도청사,CS100008,분식전문점,288323822,12291,...,2154,3,11110560,종로구,평창동,126.956884,37.609345,1101056.0,1.111056e+09,11010560.0
134456,2022,4,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,692853621,22980,...,6902,11,11110560,종로구,평창동,126.956884,37.609345,1101056.0,1.111056e+09,11010560.0

In [12]:
df1['주중_주말_매출_건수'] = df1['주중_매출_건수'] + df1['주말_매출_건수']

<ipython-input-12-1d986ae97df6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['주중_주말_매출_건수'] = df1['주중_매출_건수'] + df1['주말_매출_건수']

In [15]:
df1.to_csv('/content/drive/MyDrive/상권분석/추정매출/주중_주말_매출_건수_추가.csv')