<a href="https://colab.research.google.com/github/won195/TIL/blob/master/%EC%83%81%EC%A3%BC%EC%9D%B8%EA%B5%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

![image.png]()

In [3]:
df = pd.read_csv('/content/drive/MyDrive//  (-).csv', encoding='cp949')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39178 entries, 0 to 39177
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   __             39178 non-null  int64
 1   __            39178 non-null  int64
 2   __            39178 non-null  object
 3   ___          39178 non-null  object
 4                   39178 non-null  int64
 5                 39178 non-null  int64
 6                39178 non-null  int64
 7                39178 non-null  int64
 8    10         39178 non-null  int64
 9    20         39178 non-null  int64
 10   30         39178 non-null  int64
 11   40         39178 non-null  int64
 12   50         39178 non-null  int64
 13   60       39178 non-null  int64
 14   10       39178 non-null  int64
 15   20       39178 non-null  int64
 16   30       39178 non-null  int64
 17   40       39178 non-null  int64
 18   50       39178 non-null  int64
 19   60     39178 non-null  int64
 20   10       39178 non-null  int64
 21   20       39178 non-null  int64
 22   30       39178 non-null  int64
 23   40       39178 non-null  int64
 24   50       39178 non-null  int64
 25   60     39178 non-null  int64
 26                  39178 non-null  int64
 27                39178 non-null  int64
 28               39178 non-null  int64
 29                 39178 non-null  object
dtypes: int64(27), object(3)
memory usage: 9.0+ MB

In [4]:
df.columns

Index(['__', '__', '__', '___', ' ', '  ',
       '  ', '  ', ' 10  ', ' 20  ',
       ' 30  ', ' 40  ', ' 50  ', ' 60   ',
       ' 10  ', ' 20  ', ' 30  ',
       ' 40  ', ' 50  ', ' 60   ',
       ' 10  ', ' 20  ', ' 30  ',
       ' 40  ', ' 50  ', ' 60   ', '  ',
       '  ', '   ', '  '],
      dtype='object')

In [5]:
df.head(5)

,__,__,__,___,,,,,10,20,...,10,20,30,40,50,60,,,,
0,2022,4,U,,1001496,29,16,13,2,4,...,2,2,1,2,4,2,18,0,18,
1,2022,4,U,,1001495,9639,4250,5389,819,2254,...,395,1435,1454,728,548,829,6122,0,6122,
2,2022,4,U,,1001494,1977,1303,674,45,218,...,20,80,67,67,125,315,1591,0,1591,?
3,2022,4,U,,1001493,2703,1294,1409,189,626,...,102,371,329,178,188,241,1753,0,1753,
4,2022,4,U,,1001492,1089,403,686,17,50,...,10,25,51,109,143,348,494,0,494,

In [6]:
df['__'].unique()

array([2022, 2021, 2020, 2019, 2018, 2017])

In [7]:
df2022 = df[df['__']==2022]
df2021 = df[df['__']==2021]
df2020 = df[df['__']==2020]
df2019 = df[df['__']==2019]
df2018 = df[df['__']==2018]
df2017 = df[df['__']==2017]

In [8]:
df2022

,__,__,__,___,,,,,10,20,...,10,20,30,40,50,60,,,,
0,2022,4,U,,1001496,29,16,13,2,4,...,2,2,1,2,4,2,18,0,18,
1,2022,4,U,,1001495,9639,4250,5389,819,2254,...,395,1435,1454,728,548,829,6122,0,6122,
2,2022,4,U,,1001494,1977,1303,674,45,218,...,20,80,67,67,125,315,1591,0,1591,?
3,2022,4,U,,1001493,2703,1294,1409,189,626,...,102,371,329,178,188,241,1753,0,1753,
4,2022,4,U,,1001492,1089,403,686,17,50,...,10,25,51,109,143,348,494,0,494,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6524,2022,1,A,,2110005,1796,858,938,290,241,...,129,124,124,152,164,245,747,0,747,
6525,2022,1,A,,2110004,471,221,250,57,61,...,27,27,23,36,44,93,244,0,244,
6526,2022,1,A,,2110003,3300,1554,1746,611,431,...,319,209,199,303,308,408,1289,0,1289,
6527,2022,1,A,,2110002,629,309,320,79,57,...,40,28,29,33,40,150,343,0,343,1
6528,2022,1,A,,2110001,1170,546,624,188,172,...,85,90,54,103,125,167,452,0,452,5

In [63]:
df2 = pd.read_csv('/content/drive/MyDrive//.csv')
df2.head(5)

,__,__,___,_,__,_,_,_,_,,lat,long
0,202112,A,,2110753,,191934,438813,11545,11545710,NaN,126.908844,37.448687
1,202112,A,,2110427,,206265,459431,11350,11350611,NaN,127.070978,37.634469
2,202112,A,,2110755,,192300,439070,11545,11545680,NaN,126.912978,37.451006
3,202112,A,,2110739,3,191289,438014,11545,11545690,NaN,126.901564,37.441482
4,202112,A,,2111017,3,210222,445516,11710,11710562,NaN,127.115614,37.509060

In [10]:
df.head(5)

,__,__,__,___,,,,,10,20,...,10,20,30,40,50,60,,,,
0,2022,4,U,,1001496,29,16,13,2,4,...,2,2,1,2,4,2,18,0,18,
1,2022,4,U,,1001495,9639,4250,5389,819,2254,...,395,1435,1454,728,548,829,6122,0,6122,
2,2022,4,U,,1001494,1977,1303,674,45,218,...,20,80,67,67,125,315,1591,0,1591,?
3,2022,4,U,,1001493,2703,1294,1409,189,626,...,102,371,329,178,188,241,1753,0,1753,
4,2022,4,U,,1001492,1089,403,686,17,50,...,10,25,51,109,143,348,494,0,494,

In [11]:
df1 = pd.merge(df, df2[['_', 'lat', 'long']], left_on=' ', right_on='_', how='left')

In [12]:
df1

,__,__,__,___,,,,,10,20,...,40,50,60,,,,,_,lat,long
0,2022,4,U,,1001496,29,16,13,2,4,...,2,4,2,18,0,18,,1001496,127.060059,37.511003
1,2022,4,U,,1001495,9639,4250,5389,819,2254,...,728,548,829,6122,0,6122,,1001495,127.115275,37.516476
2,2022,4,U,,1001494,1977,1303,674,45,218,...,67,125,315,1591,0,1591,?,1001494,126.997374,37.569998
3,2022,4,U,,1001493,2703,1294,1409,189,626,...,178,188,241,1753,0,1753,,1001493,127.011025,37.567312
4,2022,4,U,,1001492,1089,403,686,17,50,...,109,143,348,494,0,494,,1001492,126.981856,37.564149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39173,2017,1,A,,2110005,1940,941,999,352,265,...,205,138,235,759,12,747,,2110005,126.962120,37.600950
39174,2017,1,A,,2110004,534,262,272,82,58,...,61,31,90,258,0,258,,2110004,126.960550,37.573289
39175,2017,1,A,,2110003,3337,1627,1710,618,526,...,312,299,363,1273,112,1161,,2110003,126.958801,37.604489
39176,2017,1,A,,2110002,680,335,345,92,53,...,46,58,135,349,49,300,1,2110002,126.957209,37.575540
39177,2017,1,A,,2110001,1211,574,637,214,173,...,132,109,161,436,0,436,5,2110001,126.956884,37.609345

In [13]:
df1 = df1.drop([' ', '_','__'], axis=1)

In [14]:
df1

,__,__,___,,,,10,20,30,40,...,30,40,50,60,,,,,lat,long
0,2022,4,,29,16,13,2,4,2,4,...,1,2,4,2,18,0,18,,127.060059,37.511003
1,2022,4,,9639,4250,5389,819,2254,2576,1299,...,1454,728,548,829,6122,0,6122,,127.115275,37.516476
2,2022,4,,1977,1303,674,45,218,224,227,...,67,67,125,315,1591,0,1591,?,126.997374,37.569998
3,2022,4,,2703,1294,1409,189,626,630,365,...,329,178,188,241,1753,0,1753,,127.011025,37.567312
4,2022,4,,1089,403,686,17,50,107,175,...,51,109,143,348,494,0,494,,126.981856,37.564149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39173,2017,1,,1940,941,999,352,265,228,373,...,126,205,138,235,759,12,747,,126.962120,37.600950
39174,2017,1,,534,262,272,82,58,59,117,...,26,61,31,90,258,0,258,,126.960550,37.573289
39175,2017,1,,3337,1627,1710,618,526,399,567,...,198,312,299,363,1273,112,1161,,126.958801,37.604489
39176,2017,1,,680,335,345,92,53,69,109,...,36,46,58,135,349,49,300,1,126.957209,37.575540
39177,2017,1,,1211,574,637,214,173,110,230,...,54,132,109,161,436,0,436,5,126.956884,37.609345

In [15]:
df1[df1['___']=='']

,__,__,___,,,,10,20,30,40,...,30,40,50,60,,,,,lat,long
0,2022,4,,29,16,13,2,4,2,4,...,1,2,4,2,18,0,18,,127.060059,37.511003
1,2022,4,,9639,4250,5389,819,2254,2576,1299,...,1454,728,548,829,6122,0,6122,,127.115275,37.516476
2,2022,4,,1977,1303,674,45,218,224,227,...,67,67,125,315,1591,0,1591,?,126.997374,37.569998
3,2022,4,,2703,1294,1409,189,626,630,365,...,329,178,188,241,1753,0,1753,,127.011025,37.567312
4,2022,4,,1089,403,686,17,50,107,175,...,51,109,143,348,494,0,494,,126.981856,37.564149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37545,2017,1,,6276,3069,3207,775,897,1436,930,...,784,464,526,594,3157,106,3051,,127.115275,37.516476
37546,2017,1,,2039,1290,749,81,213,216,264,...,70,84,167,313,1516,229,1287,?,126.997374,37.569998
37547,2017,1,,1928,999,929,175,304,380,312,...,193,137,172,179,1070,28,1042,,127.011025,37.567312
37548,2017,1,,1199,431,768,19,59,142,213,...,76,143,166,339,529,0,529,,126.981856,37.564149
37549,2017,1,,5653,2667,2986,451,742,1107,901,...,532,437,497,912,3424,24,3400,,126.994377,37.534435

In [16]:
#import geopandas as gpd

# GeoJSON  
#gdf = gpd.read_file('/content/drive/MyDrive//_.geojson')

#  
#df3 = pd.DataFrame(gdf)

# CSV  
#df3.to_csv('/content/drive/MyDrive//_.csv', index=False)

ModuleNotFoundError: ignored

In [24]:
df2.head(5)

,__,__,___,_,__,_,_,_,_,,lat,long
0,202112,A,,2110753,,191934,438813,11545,11545710,NaN,126.908844,37.448687
1,202112,A,,2110427,,206265,459431,11350,11350611,NaN,127.070978,37.634469
2,202112,A,,2110755,,192300,439070,11545,11545680,NaN,126.912978,37.451006
3,202112,A,,2110739,3,191289,438014,11545,11545690,NaN,126.901564,37.441482
4,202112,A,,2111017,3,210222,445516,11710,11710562,NaN,127.115614,37.509060

In [ ]:
df3.head()

In [ ]:
df3 = df3.rename(columns={'adm_nm': '','_':'adm_cd','adm_cd8':'_','sidonm':'','temp':'','sggnm':'','sgg':'_'})

In [ ]:
df3

In [ ]:
df2['_'] = df2['_'].astype(str)
df3['_'] = df3['_'].astype(str)
df4 = pd.merge(df2, df3[['_', '','']], on='_', how='left')

In [ ]:
df2

In [ ]:
df4

In [ ]:
merged_df = pd.merge(df2, df4[['__', '_', '', '']].drop_duplicates(['__', '_']), on=['__', '_'], how='left')
merged_df

In [ ]:
df5 = merged_df.drop('',axis=1)

In [ ]:
df5

In [64]:
df2

,__,__,___,_,__,_,_,_,_,,lat,long
0,202112,A,,2110753,,191934,438813,11545,11545710,NaN,126.908844,37.448687
1,202112,A,,2110427,,206265,459431,11350,11350611,NaN,127.070978,37.634469
2,202112,A,,2110755,,192300,439070,11545,11545680,NaN,126.912978,37.451006
3,202112,A,,2110739,3,191289,438014,11545,11545690,NaN,126.901564,37.441482
4,202112,A,,2111017,3,210222,445516,11710,11710562,NaN,127.115614,37.509060
...,...,...,...,...,...,...,...,...,...,...,...,...
1666,202112,U,,1001493,,200974,451975,11140,11140590,NaN,127.011025,37.567312
1667,202112,U,,1001494,?,199768,452273,11110,11110615,NaN,126.997374,37.569998
1668,202112,U,,1001495,,210191,446339,11710,11710566,NaN,127.115275,37.516476
1669,202112,U,,1001496,,205310,445727,11680,11680580,NaN,127.060059,37.511003
1670,202112,U,,1001491,,199503,448326,11170,11170650,NaN,126.994377,37.534435

In [18]:
df6 = pd.read_excel('/content/drive/MyDrive//KIKmix.20230501.xlsx')

In [72]:
df6

       _
0    11000000    NaN    NaN  1100000000
1    11110000        NaN  1111000000
2    11110515        1111010100
12   11110530          1111010600
24   11110540          1111013900
..        ...    ...  ...    ...         ...    ...
764  11740650      2  1174010800
765  11740660      3  1174010800
766  11740685           1174010500
767  11740690      1  1174010600
768  11740700      2  1174010600

[452 rows x 6 columns]

In [73]:
df6

       _
0    11000000    NaN    NaN  1100000000
1    11110000        NaN  1111000000
2    11110515        1111010100
12   11110530          1111010600
24   11110540          1111013900
..        ...    ...  ...    ...         ...    ...
764  11740650      2  1174010800
765  11740660      3  1174010800
766  11740685           1174010500
767  11740690      1  1174010600
768  11740700      2  1174010600

[452 rows x 6 columns]

In [41]:
df6['_'] = df6['_'] / 100

In [50]:
df6['_'] = df6['_'].astype(int)

In [74]:
merged_df = pd.merge(df2, df6, on='_', how='left')

In [78]:
merged_df.to_csv('/content/drive/MyDrive//_.csv', index=False)

In [76]:
df7 = pd.read_csv('/content/drive/MyDrive//_.csv')