<a href="https://colab.research.google.com/github/won195/TIL/blob/master/%EC%9D%B8%EB%8D%B1%EC%8B%B1%EA%B3%BC_%EC%8A%AC%EB%9D%BC%EC%9D%B4%EC%8B%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
a = np.random.randint(0,10,24).reshape(4,6)
df = pd.DataFrame(a, index=list("가나다라"), columns=list("ABCDEF"))
df

   A  B  C  D  E  F
가  4  6  6  7  5  6
나  1  6  7  7  1  0
다  2  0  7  7  3  3
라  1  0  4  5  7  3

In [5]:
df['A']

가    4
나    1
다    2
라    1
Name: A, dtype: int64

In [6]:
df[['B','C','D']]

   B  C  D
가  6  6  7
나  6  7  7
다  0  7  7
라  0  4  5

In [7]:
df.loc['가','A']

4

In [8]:
df.loc['가':'다','A':'E']

   A  B  C  D  E
가  4  6  6  7  5
나  1  6  7  7  1
다  2  0  7  7  3

In [11]:
df.iloc[0:3,0:5]

   A  B  C  D  E
가  4  6  6  7  5
나  1  6  7  7  1
다  2  0  7  7  3

In [12]:
df.drop('D',axis=1)

   A  B  C  E  F
가  4  6  6  5  6
나  1  6  7  1  0
다  2  0  7  3  3
라  1  0  4  7  3

In [19]:
# B,D,E,F열과 가나다행의 자료를 추출하라
df.iloc[0:3,1:6].drop('C', axis=1)

   B  D  E  F
가  6  7  5  6
나  6  7  1  0
다  0  7  3  3